<!--
  ~ Copyright 2020 Keiichiro Shimonishi
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE html>
<html lang="ja"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Task Detail - Todo App</title>
</head>

<h1 th:text="${task.title + ' の詳細'}"></h1>

<!--/*@thymesVar id="task" type="com.shimonishi.keiichiro.todoapp.domain.Task"*/-->
<dl>
    <dt>タイトル</dt>
    <dd th:text="${task.title}"></dd>

    <dt th:if="${task.detail != null}">詳細</dt>
    <dd th:if="${task.detail != null}" th:text="${task.detail}"></dd>

    <dt>期限</dt>
    <dd th:text="${task.displayDateJst()}"></dd>

    <dt>ステータス</dt>
    <dd th:text="${task.displayCompletionStatusJa()}"></dd>
</dl>

</html>
