<!--
  ~ Copyright 2020 Keiichiro Shimonishi
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Show all tasks - Todo App</title>
</head>

<h1> Tasks </h1>

<a th:href="@{/tasks/createNewTask}">Create a new task</a>

<br>

<table>
  <tr>
    <th>Title</th>
    <th>Due</th>
    <th>Done</th>
  </tr>
  <!--/*@thymesVar id="tasks" type="java.util.List<com.shimonishi.keiichiro.todoapp.domain.Task>"*/-->
  <tr th:each="task: ${tasks}"><br>
    <td>
      <a th:href="@{/tasks/{taskId}(taskId=${task.getTaskId()})}" th:utext="${task.getTitle()}"></a>
    </td>
    <td th:text="${task.displayDateJst()}"></td>
    <td th:text="${task.displayCompletionStatusJa()}"></td>
  </tr>
</table>

</html>
